
/* CHAT PAGE */
.chat-form{
    display: block;
}
.chat-form textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #efefef;
    margin-bottom: 5px;
}
/* .btn{
    padding:10px 6px;
    font-size: 12px;
}
.btn-primary{ background-color: aqua;} */

.chat-history{
    list-style-type: none;
    margin: 0px !important;
    padding: 0px;
}

.chat-history li{
    margin-bottom: 20px;
    padding-top: 20px;
}
.chat-history li.user{
    text-align: right;
}

.chat-history li .message{
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 10px;
}
.chat-history li .user-dt{
    margin: 12px;
}
