<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to my page</title>

        <link rel="stylesheet" href="../static/css/styles.css">
        
        <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
        <script src="../static/js/site.js" ></script>
    </head>
    <body>
        <div class="container">
            <h1>Chat Update</h1>
            <form method="POST" action="/chat" class="chat-form">
                <textarea name="message" rows="5"></textarea>
                <!-- <input type="text" name="new_message"> -->
                <input type="submit" class="btn btn-primary float-right">
            </form>


            <!-- <h1>{{ message }}</h1> -->
            <br>
            <ul class="chat-history">
                {%for i in range(0, len)%}
                    <li class="{{message_list[i]['user']}}">
                        <span class="message">{{message_list[i]["message"]|safe}}</span>
                        <div class="user-dt">{{message_list[i]["user"]}} &middot; {{message_list[i]["date"]}}</span>
                    </li>
                {%endfor%}
            </ul>
        </div>
    </body>
</html>